          <footer id="footer">
          <div id="footer-item">
                  <h3>Livemap</h3>
                  <ul class="alt">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Feedback</a></li>
                  </ul>
          </div>  
          <div id="footer-item">
                  <h3>Advertising</h3>
                  <ul class="alt">
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Advertising Policy</a></li>
                    <li><a href="#">Payment Policy</a></li>
                  </ul>
          </div>
          <div id="footer-item">
                <h3>Legal</h3>
                <ul class="alt">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Location Usage</a></li>
                </ul>
          </div>

<!--               <h2>Aliquam Interdum</h2>
              <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
              <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
              </ul> -->

      </footer>