{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'poppin/content.css' %}">
{% block content %}
	<style>
	h2 {
		font-size: 1.2em;
	}
  div.tab {
    float: left;
/*    border: 1px solid #ccc;
*/  background-color: black;
    width: 15%;
    height: 100%;
    padding-top: 3.30em;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: black;
    color: #A60dcf;
    padding-top: 2em;
    padding-left: 4.2em;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
/*div.tab button:hover{
    opacity: .50;
    background: white;   
}*/

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

#bigbody {
  margin: 0 auto;
}
/*#bitch {
    position: relative;
    top: 8em;
    left: -7.4em;
}*/

#createlocation {
    cursor: pointer;
    position: absolute;
    color: blue;
    top: 5em;
    left: 30em;
    text-decoration: none;
}
#show {
    cursor: pointer;
    position: relative;
    color: #A828A8;
    top: 3.4em;
    left: -1em;
    padding-right: 3em;
    white-space: nowrap;;
}
#Profile, #Locations { 
  font-size: 1.5em;
    float: left;
/*    border: 1px solid #ccc;
*/  background-color: black;
    width: 15%;
    top: 0em;
    padding-left: 5em;

}

	</style>
  <p>Click on the buttons inside the tabbed menu:</p>
<div id = "bigbody">
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Profile'), choice = 0", id="defaultOpen">Profile</button>
  <button class="tablinks" onclick="openTab(event, 'Locations'), choice = 1", id="defaultOpen1">Locations</button>
  <button class="tablinks" onclick="openTab(event, 'Settings'), choice = 2", id="defaultOpen2">Settings</button>
</div>

    <div id="Profile" class="tabcontent">
     <form id = "stuff" method="post">
      {% csrf_token %}
      {% for field in profileform %}
      <p>
        {{ field.label_tag }}
        {{ field }}
<!--         {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %} -->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Save Changes</button>
    </form>
    </div>


<div id="Locations" class="tabcontent">
<a id ="createlocation", href="{% url 'makelocation' %}">New Location</a>
{% for pickform in formarray %}
<span id = "show", onclick="showLocation(1,1,{{forloop.counter0}})">Location{{forloop.counter}}</span>
     <form id = "locationstuff{{forloop.counter0}}", style="display: none" method="post">
      {% csrf_token %}
      {% for field in pickform %}
      <p>
        {{ field.label_tag }}
        {{ field }}
<!--         {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %} -->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" name = "button{{forloop.counter0}}">Save Changes</button>
    </form>
{% endfor %}
<!-- <button id = "bitch", onclick="showLocation(1,2)">YoBitch</button>
     <form id = "locationstuff2" style="display: none" method="post">
      {% csrf_token %}
      {% for field in locationform %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Save Changes</button>
    </form> -->
</div>

<div id="Settings" class="tabcontent">
  <ul>
    <h1><a href="">Change Password</a></h1>
  </ul>
</div>
</div>
<script>
// function showProfile() {
//   openTab(event, 'Profile')
//   choice = 1;
// }
function openTab(evt, tablename) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tablename).style.display = "block";
    evt.currentTarget.className += " active";
}

function showLocation(a, c,index) {
  var x = document.getElementById("locationstuff" + index)
  if(c == 1) {
    if(x.style.display=="none") {
      x.style.display="block"
    }
    else if(x.style.display != "none" && a==1) {
      x.style.display="none"
    }
  }
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
// if (choice == 0) {
//   document.getElementById("defaultOpen").click();
// }
// else if (choice == 1) {
//   document.getElementById("defaultOpen1").click();
// }

// else if (choice == 2) {
//   document.getElementById("defaultOpen2").click();
// }


</script>
{% endblock %}
{% include "footer.html" %}