{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background-color: gray;">
	{% csrf_token %}
	{% if user.is_authenticated %}
	<h1>Welcome, {{user.username}}</h1>

	{% else %} 
	<h1>Welcome to Level Gaming</h1>
	{% endif %}

    <div class="col-sm-6">
    	<h2>Trending E-Sports News</h2>

    	<ul>
	    	{% for choices in newsstories %}
	    	<a href="{{choices.url}}" class="">{{choices.url}}</a>
	    	<li>{{choices.title}}</li>
	    	<li>{{choices.date}}</li>
	    	<br>
	    	{% endfor %}
	    </ul>
    </div>

    <div class="col-sm-6">
    	<h2>Recent Videos</h2>

    	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.    
    </div>
</div>
{% endblock %}