{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background-color: gray;">
	{% csrf_token %}
	{% if user.is_authenticated %}
	<h1 class="text-center">Welcome, {{user.username}}</h1>

	{% else %} 
	<h1 class="text-center">Welcome to Level Gaming</h1>
	{% endif %}

  <div class="row">
      <div class="col-sm-6">
      	<h2>Trending E-Sports News</h2>

      	<ul>
  	    	{% for choices in newsstories %}
  	    	<a href="{{choices.url}}" class="">{{choices.url}}</a>
  	    	<li>{{choices.title}}</li>
  	    	<li>{{choices.date}}</li>
  	    	<br>
  	    	{% endfor %}
  	    </ul>
      </div>

    <div class="col-sm-6">
      <h2>Recent Videos</h2>
     
      {% for vid in videos %}
      <div>
      <!--     <div class="embed-responsive embed-responsive-16by9"> -->      
        <iframe  width="420" height="345" class="embed-responsive-item" src="{{vid}}"></iframe>
          {% for title in videotitles %}
           {% if forloop.counter == forloop.parentloop.counter %}
              {% for user in users %}
                {% if forloop.counter == forloop.parentloop.counter %}
                  <h4>{{ title }} - {{user}}</h4>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}    
          <br>
        {% endfor %}
      </div> 
    </div>
  </div>
</div>
{% endblock %}
