{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <img class="img-thumbnail" src="{% static '{{user.profile.profile_pic}}' %}">
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            <h1 class="text-center" id = "username" ><big>{{ user.username }}</big></h1>
        </div>

        <div class="col-sm-4">
        </div>
    </div>

    <div class="row" style="margin-top: 1%;">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            <!-- Trigger the modal with a button -->
            <button type="button" class="center btn btn-info btn-lg" style="margin-left: 10%;">Followers</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Followers</h4>
                        </div>
                        <div class="modal-body">
                            {% for foll in followers %}
                            <h3><a id = "linkprofile" href="/linkprofile/{{foll}}">{{foll}}</a></h3>
                            <br>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg">Following</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Following</h4>
                        </div>
                        <div class="modal-body">
                            {% for folw in following %}
                            <h3><a id = "linkprofile" href="/linkprofile/{{folw}}">{{folw}}</a></h3>
                            <br>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <a href="{% url 'addvideo' %}" class="btn btn-info btn-lg" role="button">Add Video</a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <a href="{% url 'addprofilepic' %}" class="btn btn-info btn-lg" role="button" style="margin-left: 30%; margin-top: 10px;">Add Profile Picture</a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>

    <div class="row">
        <div id="videobox" style="margin-left: 30px;">
            <h1 class="page-header">Your Videos</h1>
            {% for vid in videos %}
                <iframe class = "videobox" width="420" height="345" src={{vid}}></iframe>
               {% for title in videotitles %}
                  {% if forloop.counter == forloop.parentloop.counter %}
                    <h4>{{ title }}</h4>
                  {% endif %}
               {% endfor %}
                <h1><a id = "delete" href="/delete/{{ vid }}">Delete</a></h1>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
