{% extends "base.html" %}
{% load static %}

{% block content %}
<style >
body{
	background-color: gray;
}
	#three {
		background-color: gray;
		width: 100%;
		display: inline-block;
	}
	#news {
		list-style-type: none;
		font-size: 0.8em;
	}

    #delete {
        color: red;
        text-decoration: none;
    }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.follower-modal-content, .following-modal-content, .video-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close, .followingclose, .videoclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.followingclose:hover,
.followingclose:focus,
.videoclose:hover,
.videoclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#videobox {
	text-align: center;
}
</style>

<div id="three" class="wrapper style1">
    <h1 id = "username" >{{ user.username }} </h1>
    <h1><a href="{% url 'addvideo' %}">Add Video</a></h1>

    <button id="followers">Followers</button>
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div id="followermodal" class="modal">
      <!-- Modal content -->
        <div class="follower-modal-content">
            <span class="close">&times;</span>
            {% for foll in followers %}
            <h1><a id = "linkprofile" href="/linkprofile/{{ foll }}">{{foll}}</a></h1>
<!--             <h1><a>{{foll}}</a></h1>
 -->            <br>
            {%endfor%}
        </div>
        <br>
    </div>

    <button id="following">Following</button>
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div id="followingmodal" class="modal">
      <!-- Modal content -->
        <div class="following-modal-content">
            <span class="followingclose">&times;</span>
            {% for folw in following %}
            <h1><a id = "linkprofile" href="/linkprofile/{{folw}}">{{folw}}</a></h1>
            <br>
            {%endfor%}
        </div>
    </div>
</div>

<div id="videobox">
<h1>Videos</h1>
{% for vid in videos %}
    <iframe class = "videobox" width="420" height="345" src={{vid}}></iframe>
   {% for title in videotitles %}
      {% if forloop.counter == forloop.parentloop.counter %}
        <h4>{{ title }}</h4>
      {% endif %}
   {% endfor %}
    <h1><a id = "delete" href="/delete/{{ vid }}">Delete</a></h1>
    <br>
    {%endfor%}
</div>
<script>
// Get the modal
var modal = document.getElementById('followermodal');
// Get the button that opens the modal
var btn = document.getElementById("followers");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the modal
var modal2 = document.getElementById('followingmodal');
// Get the button that opens the modal
var btn2 = document.getElementById("following");
// Get the <span> element that closes the modal
var span2 = document.getElementsByClassName("followingclose")[0];
// When the user clicks the button, open the modal 
btn2.onclick = function() {
    modal2.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
    modal2.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}

var modal3 = document.getElementById('videomodal');
// Get the button that opens the modal
var btn3 = document.getElementById("video");
// Get the <span> element that closes the modal
var span3 = document.getElementsByClassName("videoclose")[0];
// When the user clicks the button, open the modal 
btn3.onclick = function() {
    modal3.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span3.onclick = function() {
    modal3.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal3) {
        modal3.style.display = "none";
    }
}
</script>

{% endblock %}
